html {

  $widthPC: 1024px;
  $widthTab: 768px;
  $widthSp: 568px;

  @mixin pc {
    @media (max-width: ($widthPC)) {
      @content;
    }
  }
  @mixin tab {
    @media (max-width: ($widthTab)) {
      @content;
    }
  }

  @mixin sp {
    @media (max-width: ($widthSp)) {
      @content;
    }
  }

  // width: 1920px;
  width: 100%;
  height: 4109px;
  font-family: Helvetica;
  @include sp {height: 2259px};

  h1, h2 {
    font-weight: normal;
  }

  body {
    .section1 {
      height: 960px;
      width: 100%;
      background-image: url("../img/header_image.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include sp {height: 568px};
      .section1_box {
        @include tab {margin: 0 47px 92px 59px};
        margin: 0 180px 110px 190px;
        padding-top: 54.1px;
        @include sp {margin: 0 19px 18px};
        .header {
          display: flex;
          .header_logo {
            width: 189px;
            @include sp {
              margin-left: auto;
              margin-right: auto};
            img {
              @include sp {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 137px};
            }
          }
          .another_menu {
            @include tab {
              margin-right: 0};
            font-size: 14px;
            letter-spacing: 0.2px;
            color: #fff;
            margin-left: auto;
            @include sp {
              display: none };
          }
        }
        .message_box {
          background-image: url("../img/border.png");
          background-repeat : no-repeat;
          background-position: center;
          background-size: contain;
          width: 100%;
          height: 250px;
          @include sp {
            margin-top: 50px;
            height: 200px};
          .top_message {
            @include tab {
              margin-top: 174px;
              font-size: 64px};
            margin-top: 282px;
            font-size: 4.375vw;
            letter-spacing: 4.2px;
            color: #fff;
            @include sp {
              padding-top: 40px;
              margin-top: 70px;
              font-size: 32px};
            h1 {
              @include tab {margin-left: 27px};
              margin-bottom: 15px;
              @include sp {margin-left: 0};
              span {
                @include tab {margin-left: 16%};
                display: block;
                margin-left: 26%;
                @include sp {
                  margin-top: 10px;
                  margin-left: 25px};
              }
            }
            .gnav {
              @include tab {
                margin-top: 167px};
              font-size: 14px;
              letter-spacing: 0.2px;
              color: #9071ea;
              margin-left: auto;
              @include sp {margin-top: 200px};
              .gnav_flexbox {
                @include tab {
                  justify-content: space-between};
                display: flex;
                justify-content: flex-end;
                @include sp {
                  flex-wrap: wrap;
                  justify-content: center;
                };
                li {
                  @include tab {
                    margin-left: 0};
                  list-style: none;
                  margin-left: 50px;
                  @include sp {
                    margin: 0 15px 7px};
                  a {
                    text-decoration: none;
                    color: #9071ea;
                  }
                }
              }
            }
          }
        }
        .music_panel {
          @include tab {margin-top: 260px};
          color: #fff;
          letter-spacing: 0.4px;
          margin-top: 177px;
          @include sp {margin-top: 60px};
          display: flex;
          justify-content: center;
          .appstore {
            margin-right: 20px;
          }
          .googleplay {
            margin-left: 20px;
          }
          .appstore , .googleplay {
            display:inline-block;
            vertical-align: middle;
            line-height:normal;
            width: 311px;
            height: 77px;
            border-radius: 100px;
            box-shadow: 0 16px 24px 0 rgba(10, 14, 52, 0.5);
            background-color: #5c3caf;
            display: flex;
            @include sp {
              width: 142px;
              height: 40px;};
            .icon_apple , .icon_google {
              margin-left: 40px;
              margin-top: 15px;
              @include sp {
                margin-left: 20px;
                margin-top: 5px;  };
            }
            a {
              margin-left: 15px;
              margin-top: 20px;
              margin-bottom: 20px;
              text-decoration: none;
              color: #fff;
              font-size: 14px;
              @include sp {
                margin-left: 0;
                margin-top: 5px;
                font-size: 8px;};
            }
          }
        }
      }
    }
    .section2 {
      .section2_box {
        @include tab {
          height: 921px;
          flex-direction: column};
        position: relative;
        // height: 730px;
        width: 100%;
        align-items: flex-end;
        display: flex;
        @include sp {height: 570px};
        .section2_imgbox {
          @include tab {
            width:100%};
          // width:50%;
          height: 730px;
          @include sp {width: 100%};
          .section2_img {
            width: 100%;
            max-width: 100%;
            // height: auto;
            @include tab {width: 768px};
          }
          img {
            @include tab {
              width: 100%;
              height: 584px};
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include sp {height: 351px};
          }
        }
        .section2_messagebox {
          @include tab {
            width: 100%;
            margin-top: 59px;
            margin-left: 28px;
            height: 337px};
          width: 50%;
          // padding-left: 12.7%;
          // padding-top: 10%;
          @include sp {margin-top: 30px};
          .section2_topmessage {
            @include tab {
              margin-left: 30px;
              margin-bottom: 13px};
            color: #e7e7e7;
            display: flex;
            align-items: center;
            font-size: 90px;
            margin-left: 125px;
            // margin-bottom: 12.6%;
            @include sp {font-size: 28px};
          }
          .section2_message {
            font-size: 24px;
            letter-spacing: 1.12px;
            margin: 130px 0 100px 125px;
            @include sp {font-size: 16px};
            &:after {
              content: "";
              display: block;
              background: #5e3db3;
              width: 22px;
              height: 5px;
              border-radius: 2.5px;
              margin-top: 12.6%;
            }
            @include tab {
              margin-left: 30px;
              margin-top: 30px;
              &:after {
                content: "";
                margin-top: 30px;
              }};
          }
        }
        .No1 {
          @include tab {
            width: 116px;
            height: 116px;
            top: 490px;
            left: 30px};
          width: 168px;
          height: 155px;
          background-color: #5e3db3;
          display: inline-block;
          position: absolute;
          top: 28%;
          left: 45.5%;
          @include sp {
            width: 70px;
            height: 70px;
            top: 290px;
            left: 20px};
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            @include sp {font-size: 14px};
            color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            line-height: 1.5;
            font-size: 24px;
            &:after {
              content: "";
              display: block;
              background: #fff;
              opacity: .3;
              width: 22px;
              height: 5px;
              border-radius: 2.5px;
            }
          }
        }
      }
    }
    .section3 {
      .section3_box {
        @include tab {
          height: 921px;
          flex-direction: column-reverse};
        position: relative;
        // height: 730px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content:flex-end;
        @include sp {height: 570px};
        .section3_messagebox {
          @include tab {
            width: 100%;
            margin-top: 59px;
            margin-left: 28px;
            height: 337px};
          // margin-left: 10%;
          // padding-top: 10%;
          @include sp {margin-top: 30px};
          .section3_topmessage {
            @include tab {
              margin-left: 30px;
              margin-bottom: 13px};
            color: #e7e7e7;
            // font-size: 4.375vw;
            font-size: 90px;
            // margin-bottom: 12.6%;
            margin-left: 30px;
            @include sp {font-size: 28px};
          }
          .section3_message {
            @include sp {
              font-size: 16px;
              margin: 0;
            };
            font-size: 24px;
            letter-spacing: 1.12px;
            margin: 150px 400px 150px 30px;
            &:after {
              content: "";
              display: block;
              background: #5e3db3;
              width: 22px;
              height: 5px;
              border-radius: 2.5px;
              margin-top: 12.6%;
            }
            @include tab {
              margin-top: 30px;
              margin-left: 30px;
              &:after {
                content: "";
                margin-top: 30px;
              }};
          }
        }
        .section3_imgbox {
          width:50%;
          height: 730px;
          @include tab {width: 100%};
          .section3_img {
            width:100%;
            max-width: 100%;
            // height: auto;
            @include tab {width: 768px};
          }
          img {
            @include tab {
              width: 100%;
              height: 584px};
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include sp {height: 351px};
          }
        }
        .No2 {
          @include tab {
            width: 116px;
            height: 116px;
            top: 490px;
            left: 30px};
          width: 168px;
          height: 155px;
          background-color: #5e3db3;
          display: inline-block;
          position: absolute;
          top: 28%;
          left: 45.5%;
          @include sp {
            width: 70px;
            height: 70px;
            top: 290px;
            left: 20px};
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            @include sp {font-size: 14px};
            color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            line-height: 1.5;
            font-size: 24px;
            &:after {
              content: "";
              display: block;
              background: #fff;
              opacity: .3;
              width: 22px;
              height: 5px;
              border-radius: 2.5px;
            }
          }
        }
      }
    }
    .section4 {
      .section4_box {
        position: relative;
        display: flex;
        align-items: flex-end;
        width: 100%;
        @include tab {
          height: 921px;
          flex-direction: column};
        // height: 730px;
        @include sp {height: 570px};
        .section4_imgbox {
          width:50%;
          height: 730px;
          @include tab {width:100%};
          .section4_img {
            width:100%;
            max-width: 100%;
            // height: auto;
            @include tab {width: 768px};
          }
          img {
            @include tab {
              width: 100%;
              height: 584px};
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include sp {height: 351px};
          }
        }
        .section4_messagebox {
          @include tab {
            width: 100%;
            margin-top: 59px;
            margin-left: 28px;
            height: 337px};
          // padding-left: 12.7%;
          // padding-top: 10%;
          @include sp {margin-top: 30px};
          .section4_topmessage {
            @include tab {
              margin-left: 30px;
              margin-bottom: 13px};
            color: #e7e7e7;
            // font-size: 4.375vw;
            font-size: 90px;
            // margin-bottom: 12.6%;
            margin-left: 120px;
            @include sp {font-size: 28px};
          }
          .section4_message {
            @include sp {font-size: 16px};
            font-size: 24px;
            letter-spacing: 1.12px;
            margin: 180px 0 100px  120px;
            &:after {
              content: "";
              display: block;
              background: #5e3db3;
              width: 22px;
              height: 5px;
              border-radius: 2.5px;
              margin-top: 12.6%;
            }
            @include tab {
              margin-top: 30px;
              margin-left: 30px;
              &:after {
                content: "";
                margin-top: 30px;
              }};
          }
        }
        .No3 {
          @include tab {
            width: 116px;
            height: 116px;
            top: 490px;
            left: 30px};
          width: 168px;
          height: 155px;
          background-color: #5e3db3;
          display: inline-block;
          position: absolute;
          top: 28%;
          left: 45.5%;
          @include sp {
            width: 70px;
            height: 70px;
            top: 290px;
            left: 20px};
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            @include sp {font-size: 14px};
            color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            line-height: 1.5;
            font-size: 24px;
            &:after {
              content: "";
              display: block;
              background: #fff;
              opacity: .3;
              width: 22px;
              height: 5px;
              border-radius: 2.5px;
            }
          }
        }
      }
    }
    .section5 {
      @include tab {height: 960px};
      height: 960px;
      width: 100%;
      background-image: url("../img/footerbg.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include sp {height: 625px};
      .section5_box {
        // margin: 0 476px 150px 491px;
        background-image: url("../img/border.png");
        background-repeat : no-repeat;
        background-position: center;
        margin: 0 180px 110px 190px;
        @include tab {
          padding-top: 121px;
          background-position: 350px 250px;
          margin: 0 37px 50px 35px };
        padding-top: 226px;
        @include sp {
          background-position: 150px 200px;
          background-size: 100px 120px;
          padding-top: 96px };
        .bottom_message {
          display: flex;
          justify-content: center;
          @include tab {
            background-position: 400px 50px;
            flex-direction: column};
          .section5_imgbox {
            @include tab {width: 696px};
            // 空白
            @include sp {width: 320px};
            .section5_img {
              @include tab {
                display: block;
                margin: 0 auto 62px;
                width: 156px};
              // 空白
              @include sp {
                margin-bottom: 40px;
                width: 88px};
            }
          }
          .bottom_message_p {
            @include tab {
              width: 700px;
              margin-left: 0};
            display: inline-block;
            text-align: center;
            margin-left: 21px;
            @include sp {width: 320px};
            .bottom_message_p1 {
              @include tab {
                margin-bottom: 3px;
                margin-left: 0;
                font-size: 80px };
              font-size: 4.375vw;
              color: #fff;
              letter-spacing: 4.2px;
              @include sp {
                font-size: 32px;
                margin-right: 0;
                margin-bottom: 6px};
            }
            .bottom_message_p2 {
              @include tab {
                margin-left: 0;
                font-size: 36px };
              display: block;
              color: #a496ca;
              font-size: 1.875vw;
              @include sp {font-size: 15px};
            }
          }
        }
        .music_panel {
          color: #fff;
          letter-spacing: 0.4px;
          margin-top: 177px;
          display: flex;
          justify-content: center;
          @include sp {margin-top: 60px};
          .appstore {
            margin-right: 20px;
          }
          .googleplay {
            margin-left: 20px;
          }
          .appstore , .googleplay {
            display:inline-block;
            vertical-align: middle;
            line-height:normal;
            width: 311px;
            height: 77px;
            border-radius: 100px;
            box-shadow: 0 16px 24px 0 rgba(10, 14, 52, 0.5);
            background-color: #5c3caf;
            display: flex;
            @include sp {
              width: 142px;
              height: 40px;};
            .icon_apple , .icon_google{
              margin-left: 40px;
              margin-top: 15px;
              @include sp {
                margin-left: 20px;
                margin-top: 5px };
            }
            a {
              margin-left: 15px;
              margin-top: 20px;
              margin-bottom: 20px;
              text-decoration: none;
              color: #fff;
              font-size: 14px;
              @include sp {
                margin-left: 0;
                margin-top: 5px;
                font-size: 8px;};
            }
          }
        }
      }
      footer {
        height: 168px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(10, 14, 52, 0.6);
        margin-top: 170px;
        @include tab {
          margin-top: 146px;
          height: 95px;
          padding: 0 };
        color: #fff;
        .footerlogo {
          display: block;
          margin-left: 48px;
          height: 32.9px;
          @include tab {display: none};
        }
        .social {
          @include tab {
            margin-left: auto;
            margin-right: auto;
            display: flex};
          .icon_fb ,.icon_tw ,.icon_itg {
            color: #fff;
            @include tab {margin-top: 30px};
          }
          .icon_tw ,.icon_itg {
            margin-left: 50px;
          }
        }
        .contactus {
          display: block;
          margin-right: 43px;
          @include tab {display: none};
        }
      }
    }
  }
}
